@import "@styles/config.scss";
.mainSidebarSection{ width: 275px; position: fixed; top: 102px;
    &.scrolledLeftMenu{top: 20px;
        .leftMenu{   
            ._menuList{ max-height: 92vh;}
        }    
    }
    .leftMenu{   
        ._menuList{ max-height: 82vh;}
    }
    .leftMenu{ 
        ._menuList{ margin: 0px; padding: 12px; box-sizing: border-box;height: auto;width: 262px;border-radius: $boxBorderRadius;background-color: #FFFFFF; overflow: auto; box-shadow: $boxShadow;
            ::-webkit-scrollbar { width: 4px; padding-left: 0px; }    
            ::-webkit-scrollbar-track { width:4px; background:$SecondaryColor-1; }  
            ::-webkit-scrollbar-thumb { width: 4px; background:$SecondaryColor-1 }  
            ::-webkit-scrollbar-thumb:hover {background:$SecondaryColor-1 }
            .list{ display: none; 
                &._active{display: block;}
                .inner{display: flex; align-items: center; justify-content: flex-start;  padding: 13px 16px 13px 32px; position: relative;  width: 100%; margin-bottom: 8px; cursor: pointer; text-transform: capitalize; font-size: 14px; font-weight: normal; line-height: 22px; color:$SecondaryColor;
                       .imageContainer{position: absolute; width: 16px; height:16px; left: 8px; top:16px;}
                        &:before{content:""; position: absolute;top:16px; left: 10px; width: 16px; height: 16px;  background-repeat: no-repeat; background-position: center;}                    
                        &.home{&:before{content:"";background-image: url('/images/header/hamburger/home.svg'); }}
                        &.product{&:before{content:"";background-image: url('/images/header/hamburger/product.svg'); }}
                        &.loans{&:before{content:"";background-image: url('/images/header/hamburger/loans.svg'); }}
                        &.settings{&:before{content:"";background-image: url('/images/header/hamburger/settings.svg'); }}
                        &.calculator{&:before{content:"";background-image: url('/images/header/hamburger/calculator.svg'); }}
                        &.investment{&:before{content:"";background-image: url('/images/header/hamburger/investment.svg'); }}
                        &.dashboard{&:before{content:"";background-image: url('/images/header/hamburger/creditScore.svg'); }}
                        &.support{&:before{content:"";background-image: url('/images/header/hamburger/support.svg'); }}
                        &.offer{&:before{content:"";background-image: url('/images/header/hamburger/Offer.svg'); }}
                        &.myAccount{&:before{content:"";background-image: url('/images/header/hamburger/myAccount.svg'); }}
                        &:hover,
                        &._active{  border-radius: 8px; color: $SecondaryLightColor;background-color: #f2f2fc; 
                            &.investment{&:before{content:"";background-image: url('/images/header/hamburger/investment.svg'); }}
                            &.dashboard{&:before{content:"";background-image: url('/images/header/hamburger/creditScoreSelected.svg'); }}
                            &.home{&:before{content:"";background-image: url('/images/header/hamburger/home.svg'); }}
                            &.product{&:before{content:"";background-image: url('/images/header/hamburger/productSelected.svg'); }}
                            &.support{&:before{content:"";background-image: url('/images/header/hamburger/supportSelected.svg'); }}
                            &.settings{&:before{content:"";background-image: url('/images/header/hamburger/settingsSelected.svg'); }}  
                            &.offer{&:before{content:"";background-image: url('/images/header/hamburger/OfferSelected.svg'); }}  
                            &.myAccount{&:before{content:"";background-image: url('/images/header/hamburger/myAccountSelected.svg'); }}
                        }
                        
                    
                    // &.arrow{transition: 0.3s;
                    //     &._active{&:after{content:""; transform: rotate(0deg);}transition: 0.3s; }
                    //     &:after{content:"";transition: 0.3s;transform: rotate(180deg); position: absolute; right: 12px; width: 20px; height: 20px;background-image: url('/images/header/hamburger/arrow.svg');  background-repeat: no-repeat; background-position: center;}
                    // }
                }
                ._dropdownList{ display: block; margin: 0px;
                    //max-height: 200px;overflow-y: auto;
                    &::-webkit-scrollbar{display: block;}
                    &._active{ display: block;  padding: 0px 0px 0px 16px;}
                    ._inner{ display: flex; border-bottom: 0px;align-items: center;justify-content: flex-start;
                        &._label{margin-bottom: 0px; padding: 0px; font-size: 12px; position: relative; min-height: 30px; cursor: pointer;
                            &::before{content: ''; position: initial;height: 1px;width: 12px;background-color:$SecondaryColor-8;margin-right: 8px;}
                            &:hover{ background: transparent;
                                &::before{content: '';background-color:$PrimaryColor;}
                            }
                        }
                    }
                }
                
            }
        }   
    }
    @media screen and (max-width: 820px) { width: 262px;height: calc(100vh - 101px);
        .leftMenu{box-shadow: none; border-radius: 0px; 
            ._menuList{ box-shadow: none; border-radius: 0px;  width: 100%; min-height:calc(100vh - 101px); overflow: auto;}
         }
         &.scrolledLeftMenu{top: 102px;}
    } 
}