@import "styles/config.scss";
.scoreContainer{
    .score{ 
        .downloadReport{text-align: center;display: flex; align-items: center; justify-content: center;
            .downloadReportBtn{border-radius: 8px; height: rem(38);min-width:rem(177); border:1px solid $SecondaryLightColor;  background: transparent; color:$SecondaryLightColor; font-weight: 600; font-size: rem(14); line-height: rem(22);
                .btn_before_image{margin-right: 8px;}
            }
        }
    }
}

@media (max-width:767px) {
    .scoreContainer{            
        .score{ padding-top: 0px;       
            .downloadReport{margin-bottom: 24px;}                
        }
    }
}