@import "styles/config.scss";
.StepUpCreditCardModal{width:100%;color: $SecondaryColor;  padding: 8px;
        .noHeader{background: $lightBackground;}    
        .modalBody{max-height:100vh;}
        ._LogoTitle{ height: 18px; width: auto;margin-bottom: 8px;
            img{height: 18px; width: auto;}
        }
        ._infoLogoTitle{color: $SecondaryColor;  font-size: 12px;line-height: 18px; font-weight: 600; margin-bottom: 24px;}
        ._infoTitle{ color: $SecondaryColor; font-size: 14px;font-weight: 600;letter-spacing: 0;line-height: 24px; margin-bottom: 12px;}
        ._infoFeatures{ padding:0px; margin: 0px; list-style: none; margin-bottom: 24px;
            li{ text-align: left; padding-left: 25px; margin-bottom: 16px;font-size: 14px; line-height: 18px; font-weight: normal; position: relative;
                &::before{content:url("/images/icons/blue-tick.svg"); position: absolute; left: 0px; top: 3px;}               
            }
        }
        .buttonContainer{ 
            .btn{
                &.knowMoreBtn{color: $whiteColor; font-size: 16px;font-weight: 600;line-height: 20px;  height: 44px;width: 100%;border-radius: 8px;background:  $SecondaryLightColor;}
             }
        }
}
