@import "coreStyle/config.scss"; 

._commonSkeleton{margin-bottom: 80px;
    ._heading{ max-width: 204px; height: 26px; margin: 0 auto 20px;}
    ._imageContainer{
        .img{height:250px; margin: 15%;}
    }
    &.introducingBalancePower{display: flex;align-items: center;justify-content: space-between;width: 100%;
        .infoContainer{flex-direction: column;justify-content: space-between;height: 100%;
            .heading{height: 120px;margin: 0px 0px 44px;}
            .infoText{height: 64px; margin: 0px 0px 20px;}
            .buttonContainer{.btn{height: 48px; margin: 0px;}}
        }
        
    }
    
    &.UnparallelBenefits{
        .featuresListWrapper{ display: flex;align-items: center;justify-content: space-between;width: 100%;
            ._featuresList{width: 100%; flex-direction: column; display: flex;align-items: center;justify-content: space-between;
                ._icon{ height: 72px; width: 72px; border-radius: 50%;  margin: 0 auto 16px;}
                ._title{height: 24px; margin-bottom: 8px;}
                ._infoText{height: 44px; margin-bottom: 0px;}
            }
        }
    }
    &.BalancePowerIn3EasySteps{   
        ._stepsWrapper{display: flex;align-items: center;justify-content: space-between;width: 100%;
            ._listContainer{ flex-direction: column; display: flex;align-items:flex-start;justify-content: space-between;
                ._list{ position: relative; padding-left: 40px;
                    ._step{position: absolute; top:0px; left: 0px; height: 16px; width: 16px; border-radius: 50%;  margin: 0 auto 16px;}
                    ._title{height: 24px; width: 300px; margin-bottom: 8px;}
                    ._infoText{height: 44px;width: 300px; margin-bottom: 0px;}
                    &::after{content: "";background: #f4f4f4; height: 100%; width: 1px; position: absolute; left: 8px; top:16px;}
                    &:last-child{ &::after{content: ""; height: 0px;}}
                }
            }
            ._imageContainer{
                .img{height:300px; width:250px; margin: 15%;}
            }
           
        }
    }
}


